In [2]:
# 19 Machine learning Basics.

In [3]:
"""Supervised Machine Learning Basics.
In supervised machine learning, we have input features (X) and target labels (y). The goal is to learn a mapping from X to y using labeled data.
We can use various algorithms like linear regression, decision trees, or neural networks to build models that can predict y for new, unseen data based on the learned patterns from the training data.
"""

'Supervised Machine Learning Basics.\nIn supervised machine learning, we have input features (X) and target labels (y). The goal is to learn a mapping from X to y using labeled data.\nWe can use various algorithms like linear regression, decision trees, or neural networks to build models that can predict y for new, unseen data based on the learned patterns from the training data.\n'

In [4]:
"""Types of Supervised Machine Learning Problems:
1. Regression: Predicting continuous values (e.g., house prices, temperatures).
2. Classification: Predicting discrete labels (e.g., spam detection, image recognition).
YPES OF SUPERVISED ML (IMPORTANT)
 Regression

Output is a number

Example: House price = 50 lakhs

 Classification

Output is a category

Example: Survived (Yes/No)

 Titanic = Classification"""

'Types of Supervised Machine Learning Problems:\n1. Regression: Predicting continuous values (e.g., house prices, temperatures).\n2. Classification: Predicting discrete labels (e.g., spam detection, image recognition).\nYPES OF SUPERVISED ML (IMPORTANT)\n Regression\n\nOutput is a number\n\nExample: House price = 50 lakhs\n\n Classification\n\nOutput is a category\n\nExample: Survived (Yes/No)\n\n Titanic = Classification'

In [5]:
import pandas as pd
df = pd.read_csv(r"C:\Users\USER\Downloads\Titanic-Dataset.csv") # Load Titanic dataset
df.head() # Display first 5 rows of the dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#DEFINE FEATURES (X) AND TARGET (y) how can we define features and target in this dataset?

#The target (y) is:The outcome you want the model to predict
#Features (X) are:The information used to make the prediction

In [ ]:
y = df["Survived"] # Target variable
X = df.drop(columns=["Survived"]) # Features

In [ ]:
"""## Supervised Learning Overview

In supervised machine learning, the model learns from labeled data.
The Titanic dataset is a classification problem where the target variable
is survival (0 = did not survive, 1 = survived).
The dataset was split into training and testing sets to evaluate
model performance on unseen data.
"""